.alert {
	display: block;
	border-style: solid;
	border-width: 1px;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
}
.alert-warning {
	border-color: #ece2c0;
	background-color: #fdf3d1;
	font-color: #666;
}

.alert .inline {
	counter-reset: my-badass-counter;
}
.alert .inline li {
	display: inline-block;
}
.alert .inline li:before {
	content: counter(my-badass-counter)".";
	counter-increment: my-badass-counter;
	display: inline-block;
	margin: 0 .1rem 0 .3rem;
	font-size: 80%;
}

.alert .inline li del {
	color: grey;
}

.faq {
	counter-reset: my-badass-counter;
}


.overlayed .rwmb-input-list li,
.overlayed .rwmb-input-list li label {
  position: relative;
}
.overlayed .rwmb-input-list li label input[type=radio] {
  position: absolute;
  z-index: 2;
  background: transparent;
  border: none;
  top: 0;
  left: 0;
  margin: 0 !important;
  box-shadow: none !important;
  max-width: 1px;
	max-height: 1px;
}
.overlayed .rwmb-input-list li label input[type="radio"]:checked {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	transform: translate(0px,15px);
}

.overlayed .rwmb-input-list li label input[type="radio"]:checked::before {
	content: "\f147";
	font-family: 'dashicons';
	background: transparent;
	width: auto;
	height: auto;
	text-indent: 0;
	color: white;
	text-align: center;
	line-height: 1;
	position: absolute;
	margin: 0;
	left: 0;
	top: 0;
}
.overlayed .rwmb-input-list li label input[type="radio"][value="white"]:checked::before,
.overlayed .rwmb-input-list li label input[type="radio"][value="grey_100"]:checked::before,
.overlayed .rwmb-input-list li label input[type="radio"][value="grey_200"]:checked::before,
.overlayed .rwmb-input-list li label input[type="radio"][value="grey_blue"]:checked::before {
	color: #01426a;
}
.overlayed .bg-radio,
.overlayed .rwmb-input-list li label input[type="radio"]:checked,
.overlayed .rwmb-input-list li label input[type="radio"]:checked:before {
	width: 30px;
	height: 30px;
}
.overlayed .bg-radio.blue-dark {
	background-color: #01426a;
}
.overlayed .bg-radio.blue-medium {
	background-color: #005eb8;
}
.overlayed .bg-radio.blue-light {
	background-color: #009cc4;
}
.overlayed .bg-radio.green-dark {
	background-color: #009581;
}
.overlayed .bg-radio.green-medium {
	background-color: #00b1a9;
}
.overlayed .bg-radio.green-light {
	background-color: #84bc00;
}
.overlayed .bg-radio.grey-blue {
	background-color: #e5ecf0;
}
.overlayed .bg-radio.grey-200 {
	background-color: #f2f5f7;
}
.overlayed .bg-radio.grey-100 {
	background-color: #f2f2f2;
}
.overlayed .bg-radio.white {
	background-color: #ffffff;
}

.overlayed .bg-radio{
	border: solid 1px #ccc;
}
.rwmb-radio + img {
	max-width: 100%;
	width: auto;
	height: auto;
}

h4.rwmb-group-title {
	color: white;
}
a.rwmb-group-remove {
	color: pink;
}

.rwmb-group-collapsible > .rwmb-input > .rwmb-group-clone.rwmb-group-collapsed {
	border-color: #2C3034;
}
.rwmb-group-collapsible > .rwmb-input > div.rwmb-group-clone {
	border-color: #2C3034;
}
.rwmb-group-clone .rwmb-group-wrapper.rwmb-group-collapsible > .rwmb-input > .rwmb-group-clone.rwmb-group-collapsed {
	border-color: #555;
}
.rwmb-group-clone .rwmb-group-wrapper.rwmb-group-collapsible > .rwmb-input > .rwmb-group-clone {
	border-color: #555;
}